{% block content %}

<section class="carrousel">
            <div class="carrousel-container">
                <div class="carrousel-slide active">
                    <img src="./images/s2 (11).jpg" alt="Produit 1">
                    <div class="carrousel-texte">
                        <h3>Collection Luxe</h3>
                        <p>Élégance intemporelle pour vos moments d’exception.</p>
                        <button class="btn-principal">Découvrir</button>
                    </div>
                </div>
                <div class="carrousel-slide">
                    <img src="./images/s3.jpg" alt="Produit 2">
                    <div class="carrousel-texte">
                        <h3>Design Moderne</h3>
                        <p>Quand la technologie rencontre le raffinement.</p>
                        <button class="btn-principal">Explorer</button>
                    </div>
                </div>
                <div class="carrousel-slide">
                    <img src="./images/s2 (14).jpg" alt="Produit 3">
                    <div class="carrousel-texte">
                        <h3>Édition Limitée</h3>
                        <p>Pièces rares pour collectionneurs avertis.</p>
                        <button class="btn-principal">Commander</button>
                    </div>
                </div>
                <div class="carrousel-slide">
                    <img src="./images/s2 (5).jpg" width="80%" height="80%" alt="Produit 3">
                    <div class="carrousel-texte">
                        <h3>Édition Limitée</h3>
                        <p>Livraison Rapide</p>
                        <button class="btn-principal">Commander</button>
                    </div>
                </div>
            </div>
            <div class="carrousel-controls">
                <span class="carrousel-dot active"></span>
                <span class="carrousel-dot"></span>
                <span class="carrousel-dot"></span>
                <span class="carrousel-dot"></span>
            </div>
    </section>
    

{% endblock %}